<body class="j-body">
    <div class="wrapper">
      <form class="form-signin">
        <h2 class="form-signin-heading">Login to Renewable Energy</h2>
        <%= link_to auth_path(provider: 'github'), class: "btn btn-block btn-social btn-github" do %>
          <span class="fa fa-github"></span>Sign in with Github
        <% end %>
        <%= link_to auth_path(provider: 'twitter'), class: "btn btn-block btn-social btn-twitter" do %>
        <span class="fa fa-twitter"></span>Sign in with Twitter
        <% end %>
        <%= link_to auth_path(provider: 'facebook'), class: "btn btn-block btn-social btn-facebook" do %>
          <span class="fa fa-facebook"></span>Sign in with Facebook
        <% end %>
      </form>
    </div>
  </body>
