<div class="page-header">
  <h1>Pages#homepage</h1>

  <%= link_to auth_path(provider: 'github'), class: "btn btn-block btn-social btn-github" do %>
    <span class="fa fa-github"></span>Sign in with Github
  <% end %>
  <%= link_to auth_path(provider: 'twitter'), class: "btn btn-block btn-social btn-twitter" do %>
  <span class="fa fa-twitter"></span>Sign in with Twitter
  <% end %>
  <%= link_to auth_path(provider: 'facebook'), class: "btn btn-block btn-social btn-facebook" do %>
    <span class="fa fa-facebook"></span>Sign in with Facebook
  <% end %>
</div>


<div class="wrapper">
<div class="container">
  <div class="row">
    <div class="banner-info text-center wow fadeIn delay-05s">
      <h1 class="bnr-title">100% Commi<span>ted</span></h1>
      <h2 class="bnr-sub-title">Renewable Energy</h2>
      <p class="bnr-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat.</p>
      <div class="brn-btn">
        <a href="#" class="btn btn-download">How can I help</a>
        <a href="#" class="btn btn-more">Learn More</a>
      </div>
      <div class="overlay-detail">
        <a href="#feature"><i class="fa fa-angle-down"></i></a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!--/ HEADER-->
<!---->

<!---->
<!-- Module B -->
<section id="current" class="section-padding wow fadeInUp delay-05s">
<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
    <h2 class="service-title pad-bt15">Current problem with CO2 emissions?</h2>
    <p class="sub-title pad-bt15">What is the current problem with CO2 emissions? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>
    <hr class="bottom-line">
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>C</span>oal Energy</h3>
      <p>Coal contributes to greenhouse gas emissions. Coal also pollutes the environment. It has been found that places were coal has left subsequently mercury level dimish in the sea life. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      <a href="">learn more...</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>N</span>uclear Energy</h3>
      <p>Nuclear power plants have the risk of nuclear radiation leaks such as what occurred in Chernobyl in Russia or Fukishima in Japan. </p>
      <a href="">learn more...</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>F</span>ossil Fuels</h3>
      <p>Fossil fuels make the U.S. dependant in foreign oil which often comes from conflict zones. Increased dependance on foreign oil posses a geopolitical threat. Also, fossil fuels are one of the biggest generators of the greenhouse gas CO2.</p>
      <a href="">learn more...</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>A</span>cidification of Oceans</h3>
      <p>Non renewable energy contributes to the acidification of the ocean. A recent study found that in the last 150 the ocean are now 25% more acid. If this continues we will see marine life seriously threatened. </p>
      <a href="">Learn more...</a>
    </div>
  </div>
</div>
</div>
</section>
<!---->

<section id="renewable" class="section-padding wow fadeInUp delay-05s">
<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
    <h2 class="service-title pad-bt15">What are Renewable Energies</h2>
    <p class="sub-title pad-bt15">What problems do renewables solve? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>
    <hr class="bottom-line">
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>C</span>lean environment</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="">learn more...</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>W</span>ind Energy</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="">learn more...</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>B</span>iomass &amp; Geothermal</h3>
      <p>Capital invesetment in renewable technologies will help the economy. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="">learn more...</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>H</span>ydroElectric</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="">Learn more...</a>
    </div>
  </div>
</div>
</div>
</section>
<!---->

<section id="" class="section-padding wow fadeIn delay-05s">
<!-- Module D -->
<div class="container">
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="wrap-item text-center">
      <div class="item-img">
        <img src="img/ser01.png">
      </div>
      <h3 class="pad-bt15">Renewables</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="wrap-item text-center">
      <div class="item-img">
        <img src="img/ser02.png">
      </div>
      <h3 class="pad-bt15">Solar Energy</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="wrap-item text-center">
      <div class="item-img">
        <img src="img/ser03.png">
      </div>
      <h3 class="pad-bt15">Wind Energy</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="wrap-item text-center">
      <div class="item-img">
        <img src="img/ser04.png">
      </div>
      <h3 class="pad-bt15">Hidroelectric</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
</div>
</section>
<!---->

<section id="committed" class="section-padding wow fadeInUp delay-05s">
<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
    <h2 class="service-title pad-bt15">U.S. cities committed to 100%</h2>
    <p class="sub-title pad-bt15">Some US cities are already commited to 100% Renewable Energy. There are cities which are at various stages of this process. There is a small group of cities in the US which have already achieve 100% Renewable Energy status. Other cities have commited to 100% renewable within a certain year (I.E. 2025). St. Petersburg, FL is in this second group. Other cities have declared themselves as working toward 100% Renewable Energy. Tampa, FL. is in this third group</p>
    <hr class="bottom-line">
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>S</span>ea level rise</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="">learn more...</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>L</span>eading by example</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="">learn more...</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>C</span>lean Sourcing</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="">learn more...</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>I</span>nfrastructure Investment</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="">Learn more...</a>
    </div>
  </div>
</div>
</div>
</section>

<!---->
<!-- Module C -->
<section id="" class="section-padding wow fadeInUp delay-05s">
<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
    <h2 class="service-title pad-bt15">100% cities Renewable Energy Cities</h2>
    <p class="sub-title pad-bt15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>
    <hr class="bottom-line">
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
    <figure>
      <img src="img/port01.jpg" class="img-responsive">
      <figcaption>
          <h2>Aspen, CO.</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
    <figure>
      <img src="img/port02.jpg" class="img-responsive">
      <figcaption>
          <h2>St Petersburg, FL.</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
    <figure>
      <img src="img/port03.jpg" class="img-responsive">
      <figcaption>
          <h2>Project For Everyone</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
    <figure>
      <img src="img/port04.jpg" class="img-responsive">
      <figcaption>
          <h2>Project For Everyone</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
    <figure>
      <img src="img/port05.jpg" class="img-responsive">
      <figcaption>
          <h2>Project For Everyone</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
    <figure>
      <img src="img/port06.jpg" class="img-responsive">
      <figcaption>
          <h2>Project For Everyone</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
      </figcaption>
    </figure>
  </div>
</div>
</div>
</section>
<!---->

<section id="mytown" class="section-padding wow fadeInUp delay-05s">
<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
    <h2 class="service-title pad-bt15">How would <input type="text" class="form-control input-sm your-town" name="subject" id="subject" placeholder="your town" data-rule="minlen:3" data-msg="Please enter valid city name" /> look like as a 100% committed city?</h2>
    <p class="sub-title pad-bt15">Type the name of your town, then press the button below to find out more</p>

    <a href="#" class="btn btn-download">Find out</a>
    <hr class="bottom-line">
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>B</span>e proactive</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="">learn more...</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>P</span>art of the solution</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="">learn more...</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>S</span>ave the earth</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="">learn more...</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>R</span>educe reliance</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="">Learn more...</a>
    </div>
  </div>
</div>
</div>
</section>
