<div class="page-header">
  <h1>Pages#homepage</h1>


  <span class="fa fa-github"></span>Sign in with Github
  <span class="fa fa-facebook"></span>Sign in with Facebook


</div>
<p>Find me in app/views/pages/homepage.html.erb</p>
