<section id="blog" class="section-padding wow fadeInUp delay-05s">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="service-title pad-bt15">Cities commited to 100</h2>
        <p class="sub-title pad-bt15">Catalogue of U.S. cities+ commited to 100% renewable energy. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>
        <hr class="bottom-line">
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="blog-sec">
          <div class="blog-img">
            <a href="">
              <img src="img/blog01.jpg" class="img-responsive">
            </a>
          </div>
          <div class="blog-info">
            <h2>Aspen, CO.</h2>
            <div class="blog-comment">
                <p>Population: <span>25,000</span></p>
                <p>
                  <span><a href="#"><i class="fa fa-comments"></i></a> 15</span>
                  <span><a href="#"><i class="fa fa-eye"></i></a> 11</span></p>
            </div>
            <p>Aspen has been a city with renewable energy since 2012. The total CO2 emmissions saved in Aspen every year are 254,000 cubic tons. </p>
            <a href="" class="read-more">Read more →</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="blog-sec">
          <div class="blog-img">
            <a href="">
              <img src="img/blog02.jpg" class="img-responsive">
            </a>
          </div>
          <div class="blog-info">
            <h2>Moab, UT</h2>
            <div class="blog-comment">
                <p>Population: <span>12,325</span></p>
                <p>
                  <span><a href="#"><i class="fa fa-comments"></i></a> 15</span>
                  <span><a href="#"><i class="fa fa-eye"></i></a> 11</span></p>
            </div>
            <p>Moab is a town that has commited to renewable energy by 2035. Once their goal is met that will mean the elimination of 24,976 annual metric tons of CO2 emissions.</p>
            <a href="" class="read-more">Read more →</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="blog-sec">
          <div class="blog-img">
            <a href="">
              <img src="img/blog03.jpg" class="img-responsive">
            </a>
          </div>
          <div class="blog-info">
            <h2>Costa Rica</h2>
            <div class="blog-comment">
                <p>Posted In: <span>Legal Advice</span></p>
                <p>
                  <span><a href="#"><i class="fa fa-comments"></i></a> 15</span>
                  <span><a href="#"><i class="fa fa-eye"></i></a> 11</span></p>
            </div>
            <p>Costa Rica is a country that uses 100% renewable energy since 2014. The total CO2 emmissions saved in Costa Rica every year are 1,120,000 metric tons. Costa Rica primarily achieve their renewable energy goal with 68% hidroelectric energy.</p>
            <a href="" class="read-more">Read more →</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="blog-sec">
          <div class="blog-img">
            <a href="">
              <img src="img/blog01.jpg" class="img-responsive">
            </a>
          </div>
          <div class="blog-info">
            <h2>Aspen, CO.</h2>
            <div class="blog-comment">
                <p>Population: <span>25,000</span></p>
                <p>
                  <span><a href="#"><i class="fa fa-comments"></i></a> 15</span>
                  <span><a href="#"><i class="fa fa-eye"></i></a> 11</span></p>
            </div>
            <p>Aspen has been a city with renewable energy since 2012. The total CO2 emmissions saved in Aspen every year are 254,000 cubic tons. </p>
            <a href="" class="read-more">Read more →</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="blog-sec">
          <div class="blog-img">
            <a href="">
              <img src="img/blog02.jpg" class="img-responsive">
            </a>
          </div>
          <div class="blog-info">
            <h2>Moab, UT</h2>
            <div class="blog-comment">
                <p>Population: <span>12,325</span></p>
                <p>
                  <span><a href="#"><i class="fa fa-comments"></i></a> 15</span>
                  <span><a href="#"><i class="fa fa-eye"></i></a> 11</span></p>
            </div>
            <p>Moab is a town that has commited to renewable energy by 2035. Once their goal is met that will mean the elimination of 24,976 annual metric tons of CO2 emissions.</p>
            <a href="" class="read-more">Read more →</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="blog-sec">
          <div class="blog-img">
            <a href="">
              <img src="img/blog03.jpg" class="img-responsive">
            </a>
          </div>
          <div class="blog-info">
            <h2>Costa Rica</h2>
            <div class="blog-comment">
                <p>Posted In: <span>Legal Advice</span></p>
                <p>
                  <span><a href="#"><i class="fa fa-comments"></i></a> 15</span>
                  <span><a href="#"><i class="fa fa-eye"></i></a> 11</span></p>
            </div>
            <p>Costa Rica is a country that uses 100% renewable energy since 2014. The total CO2 emmissions saved in Costa Rica every year are 1,120,000 metric tons. Costa Rica primarily achieve their renewable energy goal with 68% hidroelectric energy.</p>
            <a href="" class="read-more">Read more →</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="blog-sec">
          <div class="blog-img">
            <a href="">
              <img src="img/blog01.jpg" class="img-responsive">
            </a>
          </div>
          <div class="blog-info">
            <h2>Aspen, CO.</h2>
            <div class="blog-comment">
                <p>Population: <span>25,000</span></p>
                <p>
                  <span><a href="#"><i class="fa fa-comments"></i></a> 15</span>
                  <span><a href="#"><i class="fa fa-eye"></i></a> 11</span></p>
            </div>
            <p>Aspen has been a city with renewable energy since 2012. The total CO2 emmissions saved in Aspen every year are 254,000 cubic tons. </p>
            <a href="" class="read-more">Read more →</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="blog-sec">
          <div class="blog-img">
            <a href="">
              <img src="img/blog02.jpg" class="img-responsive">
            </a>
          </div>
          <div class="blog-info">
            <h2>Moab, UT</h2>
            <div class="blog-comment">
                <p>Population: <span>12,325</span></p>
                <p>
                  <span><a href="#"><i class="fa fa-comments"></i></a> 15</span>
                  <span><a href="#"><i class="fa fa-eye"></i></a> 11</span></p>
            </div>
            <p>Moab is a town that has commited to renewable energy by 2035. Once their goal is met that will mean the elimination of 24,976 annual metric tons of CO2 emissions.</p>
            <a href="" class="read-more">Read more →</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="blog-sec">
          <div class="blog-img">
            <a href="">
              <img src="img/blog03.jpg" class="img-responsive">
            </a>
          </div>
          <div class="blog-info">
            <h2>Costa Rica</h2>
            <div class="blog-comment">
                <p>Posted In: <span>Legal Advice</span></p>
                <p>
                  <span><a href="#"><i class="fa fa-comments"></i></a> 15</span>
                  <span><a href="#"><i class="fa fa-eye"></i></a> 11</span></p>
            </div>
            <p>Costa Rica is a country that uses 100% renewable energy since 2014. The total CO2 emmissions saved in Costa Rica every year are 1,120,000 metric tons. Costa Rica primarily achieve their renewable energy goal with 68% hidroelectric energy.</p>
            <a href="" class="read-more">Read more →</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
