.blog-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fav-heart {
  padding-left: 10px;
}

.faved-heart {
  padding-left: 10px;
  color: red;
}

@media screen and (max-width:768px) {
  .blog-flex {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  $size: 30px;

  .social-share-button {
    .ssb-icon {
      background-size: $size $size;
      height: $size;
      width: $size;
    }
  }

  .fav-heart {
    font-size: 30px;
    padding: 0 10px;
  }

  .faved-heart {
    font-size: 30px;
    padding: 0 10px;
    color: red;
  }
}
